body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ededed;
}

a {
  color: #F65007;
  padding: 10px;
  text-decoration: none;
}

nav a {
  padding-left: 40px;
}

.icon {
  width: auto;
  height: 35px;
  position: relative;
}

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%
  margin: 0 auto;
  background-color: white;
  height: 90px;

}

h1 {
  padding-left: 30px;
  color: #F65007;
}

nav {
  padding-top: 40px;
  padding-right: 40px;
}

h2 {
  padding-left: 50px;
  padding-top: 20px;
}

h3 {
  text-align: center;
  color: black;
  font-size: 22px;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  margin: 3px;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin: 5px;
}

#form button {
  background: #FF9226;
  border: 1px solid #FF9226;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #FF9226;
  transition: .3s ease background;
}

.signup {
  text-align: center;
}


  .error-message {
  background: #F65007;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 30%;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  background-color: #FF9226;
  border: 1px solid white;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 29%;
  color: white;
}

p {
  font-size: 15px;
}

img {
  width: 420px;
  height: auto;
}
