<h2>Add a Post</h2>

<form id="form" method="post" action="/posts">
  <label for="title-input"> Post Title </label>
  <input id="title-input" type="text" name="postTitle" placeholder="e.g. Playing Hoops in Miami Tonight!">
  <br />

  <label for="photo-input"> Photo URL </label>
  <input id="photo-input" type="text" name="postPhoto" placeholder="e.g. http://example.com/aaa.png">
  <br />

  <label for="location-input"> Location </label>
  <input id="location-input" type="text" name="postLocation" placeholder="e.g. American Airlines Arena">
  <br />

  <label for="time-input"> Time </label>
  <input id="time-input" type="text" name="postTime" placeholder="e.g. 7:30pm">
  <br />

  <label for="contact-input"> Contact Info </label>
  <input id="contact-input" type="text" name="postContact" placeholder="e.g. cell #: 786 123 4567">
  <br />

  <label for="description-input"> Description </label>
  <textarea id="description-input" name="postDescription"
    placeholder="e.g. Playing halfcourt bball for a couple hours. Bring however many you want!"></textarea>
  <br />

  <button>Submit</button>
</form>
