<h2>Add a Post</h2>

<form id="form" method="post" action="/posts">
  <label for="title-input"> Post Title </label>
  <input id="title-input" type="text" name="postTitle" placeholder="e.g. Basketball at PSN Park">
  <br />

  <label for="photo-input"> Photo URL </label>
  <input id="photo-input" type="text" name="postPhoto" placeholder="e.g. http://example.com/park.png">
  <br />

  <label for="description-input"> Description </label>
  <textarea id="description-input" name="postDescription"
    placeholder="e.g. Playing halfcourt bball at around 7:30pm. Bring however many you want!"></textarea>
  <br />

  <button>Submit</button>
</form>
